<div
  appHighlight="lightblue"
  [class.card--enrolled]="(enrolledIds$ | async)?.includes(course.id)"
  [ngClass]="cardClasses"
  [ngStyle]="{
    'border-left':
      course.gradeStatus === 'passed'
        ? '6px solid green'
        : course.gradeStatus === 'failed'
          ? '6px solid red'
          : '6px solid gray',
  }"
>
  <h3>{{ course.name }}</h3>

  <p><strong>Credits:</strong> {{ course.credits | creditLabel }}</p>

  <p><strong>Credits:</strong> {{ course.credits }}</p>

  <div [ngSwitch]="course.gradeStatus">
    <span *ngSwitchCase="'passed'">🟢 Passed</span>

    <span *ngSwitchCase="'failed'">🔴 Failed</span>

    <span *ngSwitchDefault>⚪ Pending</span>
  </div>

  <button (click)="viewDetails()">View Course</button>
  <button (click)="deleteCourse()">Delete</button>
  <button (click)="toggleDetails()">
    {{ isExpanded ? 'Hide Details' : 'Show Details' }}
  </button>
  <button (click)="onEnroll()">
    {{ (enrolledIds$ | async)?.includes(course.id) ? 'Unenroll' : 'Enroll' }}
  </button>
  <div *ngIf="isExpanded">
    <p><strong>Course Code:</strong> {{ course.code }}</p>
    <p><strong>Credits:</strong> {{ course.credits }}</p>
    <p><strong>Status:</strong> {{ course.gradeStatus }}</p>
  </div>
</div>
